@model IEnumerable<Coopreport.Models.Registration>
@{
    ViewBag.Title = "Index";
}

<h2>Registered Students</h2>
@Html.ActionLink("Create New","Create")
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SProgram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cell)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.SFName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.SLName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.SProgram)
            </td>
            <td>
                @Html.DisplayFor(modleitem => item.SEmail)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Provience)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modleitem => item.Cell)
            </td>
        </tr>
    }


</table>
