@model Coopreport.Models.Advisor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Advisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvisorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvisorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APassword)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
