@model Coopreport.Models.EmpEvaForm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpEvaForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestInWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestInWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbilityToLearn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbilityToLearn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityofWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityofWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemSolving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemSolving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dependability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dependability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseToSupervision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseToSupervision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reflection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reflection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resoursefulness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resoursefulness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EthicalBehaviour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EthicalBehaviour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppreciationofDiversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppreciationofDiversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnterpreneurialOrientation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnterpreneurialOrientation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrittenCommunication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrittenCommunication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OralCommuniation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OralCommuniation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterpersonalCommunication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterpersonalCommunication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallPerformanceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallPerformanceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorsComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorsComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorsRecommendations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorsRecommendations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextWorkTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextWorkTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferNextWorkTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferNextWorkTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextWorkTermFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextWorkTermFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextWorkTermTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextWorkTermTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currentdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currentdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questionnaires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questionnaires)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpEvaFormId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
