@model IEnumerable<CollegeApp.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<h2>Course Info</h2>
<b>Course Name:</b>@Model.Courses.CourseName<br />
<b>Total Grade:</b>@Model.Courses.TotalGrade<br />
<hr />*@
<h3>Student Details</h3>
@foreach (var item in Model)
{
    <hr />
    <b>Student Name:</b>@item.Name<br />
        <b>Student Address:</b>@item.Address<br />
        <b>Student PhoneNo:</b>@item.PhoneNo<br />
        
}
