@model CollegeApp.ViewModel.Course_Student
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<table class="table table-hover">
    <thead><h3>Course Details</h3></thead>
    <tr>
        <td>
            <b>Course ID</b>
        </td>
        <td>
            <b>Course Name</b>
        </td>
        <td>
            <b>Total Grade</b>
        </td>
    </tr>
    @foreach (var item in Model.Courses)
    {
        <tr>
            <td>
                @item.CourseId
            </td>
            <td>
                @item.CourseName
            </td>
            <td>
                @item.TotalGrade
            </td>
        </tr>
    }
</table>

<hr />
<table class="table table-hover">
    <thead><h3>Student Details</h3></thead>
    <tr>
        <td>
            <b>Student ID</b>
        </td>
        <td>
            <b>Student Name</b>
        </td>
        <td>
            <b>Address ID</b>
        </td>
        <td>
            <b>Phone Number</b>
        </td>
    </tr>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @item.StudentId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.PhoneNo
            </td>
        </tr>
    }
</table>
<hr />
<table class="table table-hover">
    <thead><h3>Enrollment Details</h3></thead>
    <tr>
        <td>
            <b>Enrollment ID</b>
        </td>
        <td>
            <b>Student ID</b>
        </td>
        <td>
            <b>Course ID</b>
        </td>
        <td>
            <b>Grade</b>
        </td>
    </tr>
    @foreach (var item in Model.Enrollments)
    {
        <tr>
            <td>
                @item.EnrollmentId
            </td>
            <td>
                @item.StudentId
            </td>
            <td>
                @item.CourseId
            </td>
            <td>
                @item.Grade
            </td>
        </tr>
    }
</table>