@model CollegeApp.Models.Faculty
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Model.FacultyID
@Model.FirstName
@Model.LastName
@Model.Qualification
@Model.Salary
@Model.Age

@Html.ActionLink("Back to List","index")