@model IEnumerable<Coopreport.Models.Report>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (ViewBag.msg != null)
{
    <h4 class="text-danger">@ViewBag.msg</h4>
}
else
{ 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvisorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oraganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvisorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oraganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
    </tr>
}

</table>
}
