@model IEnumerable<Coopreport.Models.Profile>
@{
    ViewBag.Title = "Index";
}

<h2>Student Profile</h2>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(m => m.ProfileID)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.ProfileID)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => m.FirstName)
    </dt>
    <dt>
        @Html.DisplayNameFor(m => m.Username)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Username)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => m.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.FirstName)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => m.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => m.Email)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => m.PhoneNo)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.PhoneNo)
    </dd>
    <dt>
        @Html.DisplayNameFor(m => m.Course)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.Course)
    </dd>
</dl>         

